*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
}
.container{
    width: 100%;
}
.top{
    background-image: url(images/bg-header-desktop.png);
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.top img{
    width: 8%;
    margin-top: 35px;
}
.title{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h1{
    color: #4c555c;
    font-size: 40px;
    font-weight: 600;
}
.title p{
    color: #c3c5c7;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
.buttons{
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
.buttons button{
    width: 15%;
    height: 45px;
    border: none;
    border-radius: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #f6fdfe;
    margin-right: 10px;
    transition: 500ms;
}
.buttons button:first-of-type{
    background-color: #26baa5;
}
.buttons button:first-of-type:hover{
    cursor: pointer;
    background-color: #5dccbb;
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.buttons button:last-of-type{
    background-color: #6174ff;
}
.buttons button:last-of-type:hover{
    cursor: pointer;
    background-color: #8896ff;
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.subtitle{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.subtitle h2{
    color: #4c555c;
    font-size: 35px;
    font-weight: 600;
}
.subtitle p{
    color: #c3c5c7;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}
.card{
    width: 100%;
    height: 520px;
    display: flex;
}
.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img{
    width: 100%;
    position: relative;
    right: 50px;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 80px;
}
.text{
    margin-bottom: 30px;
}
.text h3{
    font-size: 22px;
    font-weight: 600;
    color: #4c555c;
}
.text p{
    font-size: 15px;
    font-weight: 400;
    color: #c3c5c7;
    margin-top: 10px;
    line-height: 20px;
}
.devices{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 50px;
}
.devices img{
    width: 70%;
}
.benefits{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 30px 0 30px;
}
.benefit img{
    margin-bottom: 10px;
}
.benefit h3{
    font-size: 22px;
    color: #4c555c;
    margin-bottom: 10px;
}
.benefit p{
    font-size: 15px;
    margin-top: 10px;
    color: #c3c5c7;
    line-height: 20px;
}
.logos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px 0 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.logos img{
    width: 11%;
}
.footer{
    background-color: #f5f6f8;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.footer-logo img{
    width: 40%;
}
.links{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-right: 50px;
}
.link{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 50%;
    line-height: 40px;
}
.link a{
    color: #74787b;
    text-decoration: none;
    font-size: 16px;
    transition: 500ms;
}
.link a:hover{
    color: #62b3a2;
}
.social{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sign{
    text-align: center;
}
.sign a{
    text-decoration: none;
    color: royalblue;
}
.sign a:hover{
    border-bottom: 1px solid royalblue;
}
@media (max-width: 668px){
    .buttons button{
        width: 33%;
    }
    .social{
        width: 20%;
    }
}
@media (max-width: 500px){
    .top img{
        width: 15%;
    }
    .title{
        text-align: center;
    }
    .buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buttons button{
        width: 30%;
        margin-top: 10px;
    }
    .subtitle{
        margin-top: 80px;
    }
    .card{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .left img{
        position: relative;
        right: 0;
        width: 60%;
    }
    .right{
        width: 100%;
        padding: 10px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .benefits{
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    .logos{
        display: flex;
        flex-direction: column;
        height: 300px;
    }
    .logos img{
        width: 20%;
    }
    .footer{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin-top: 150px;
    }
    .footer-logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        padding: 0;
        padding-left: 50px;
    }
    .links{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
    .social{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width: 375px){
    .subtitle h2{
        font-size: 20px;
    }
    .title{
        margin-bottom: 100px;
    }
}
